* {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

/* ### Self Check
- The text elements in the sidebar are centered with grid
- The article element should set grid columns using `repeat` along with the `auto-fit` and `minmax` properties
- The article columns should have a minimum value of 250px and a maximum of 1fr unit
- The article element has a gap of 15px
- The card elements inside the article container have a height of 200px
- The header and footer span across both columns
- The sidebar only spans across the first column
- The nav and article elements only span across the second column */

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

/*  */
/* Header formatting */
/*  */

.header {
  background-color: #393f4d;
  text-align: left;
  padding: 15px;
  grid-column: 1 / 3;

  /* Needs at least 2 columns */
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.logo {
  justify-self: start;
}

.menu {
  grid-column: 2 / 3;
  display: grid;
}

.menu ul,
.menu li {
  font-size: 16px;
}

/* Menu ul element contains a grid */
.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

/*  */
/* Body formatting (the middle) */
/*  */

.body-container {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;

}

/* Text elements in the sidebar are centered with grid */
.sidebar {
  background-color: #C50208;

  /* Sidebar element has a gap of 50px, which means it must be a grid */
  display: grid;
  gap: 50px;
  /* grid-template-rows: repeat(4, 1fr); */
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  place-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  place-items: center;
}

.sideright {
  display: grid;
  gap: 4px;

}

.nav {
  background-color: #C50208;
  display: grid;
  place-content: space-between, center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

/*  */
/* Footer formatting */
/*  */

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  place-content: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}